.site-header {
	@extend %inner;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
	@include mqPC {
		padding-top: 30px;
		padding-bottom: 30px;
		@include display-flex;
		@include flex-wrap(nowrap);
		@include align-items(center);

	}
}

.site-branding {
}
.site-title {
	margin: 0;
	line-height: 1;
	width: 190px;
	a {
		display: inline-block;
	}
}
.main-navigation {
	.menu {
// 		float: right;
	}
	@include mqPC {
		margin: 0 0 0 20px;
		width: 100%;
		position: relative;
		.menu {
			float: right;
		}
	}
}